html {
  background-color: white;
}

.pl-gui {
  width: 100%;
}

.pl-visualization {
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
}

.pl-settings {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  vertical-align: top;
}

.pl-filter-list-local,
.pl-filter-list-global {
  float: left;
}

.pl-filter-list-global {
  border-left: 1px solid #d4cccc;
  padding-left: 10px;
}

.pl-filter-list {
  border: 1px solid #e0d4d4;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
  padding: 10px;
}

.pl-filter {
  cursor: pointer;
  padding: 5px;
}

.pl-filter-input-number {
  -moz-appearance: textfield;
  margin-right: 3px;
  width: 45px;
}

.pl-generator-list {
  border: 1px solid #e0d4d4;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
  padding: 10px;
}

.pl-generator {
  cursor: pointer;
  padding: 5px;
}

.pl-common-setting-list {
  border: 1px solid #e0d4d4;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
  padding: 10px;
}

.pl-common-setting-input-number {
  -moz-appearance: textfield;
  margin-right: 3px;
  width: 45px;
}

.pl-settings-common {
  clear: both;
  margin-top: 20px;
}
